<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="content" style="margin-left: 150px;margin-right: 150px;">
            <h2 style="padding-top: 40px;">Multiples of 3 and 5</h2>
            <div style="margin-bottom:10px;">
                <h3>Problem 1</h3>
            </div>
            <div style="border:2px black dotted">
                <p style="padding-left: 10px;">If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</p>
                <p style="padding-left: 10px;">Find the sum of all the multiples of 3 or 5 below 1000.</p>
            </div>
            <h3 style="padding-top: 40px;">Solution:</h3>
            <script src="js/question1.js"></script>
        </div>
    </body>
</html>
